.app h1{
    text-align: center;
    margin: 20px 0;
}
.app .blockchainHeight{
    margin-left: 20px;
}
.blockchain{
    overflow-x: auto;
    white-space: nowrap;
}
.add-block-container{
    display: none;
}
.add-block-button{
    margin: 20px 0;
    text-align: center;
}
.add-block-button button{
    padding: 10px 20px;
    border: none;
    background: gray;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}
.add-block-button button:hover{
    background: rgb(83, 83, 83);
}